.side-menu {
  min-width: 325px;
  background-color: $components-background-color;
  list-style-type: none;
  @include effect-shadow;

  &__item {
    height: 34px;
    margin-top: 19px;
    padding-left: 29px;
    border-bottom: $components-border;
    @include main-text(16px, 19px, $text-color)
  }

  &__link {
    color: $text-color;
    text-decoration: none;
      &:hover {
        color: $accent-color;
      }
  }

  &__link_current {
    color: $accent-color;
  }
}