.tabs-header {
  margin-top: 30px;
  list-style-type: none;
  display: flex;
  flex-direction: row;

  &__item {
    margin-right: 30px;
    border-bottom: 3px solid #E4E2E2;
    
    &:hover {
      cursor: pointer;
      border-bottom: 3px solid $hover-color;
    }
  
    &_active {
      border-bottom: 3px solid $accent-color;
    }
  }
}