.main-button {
  height: 40px;
  background-color: $accent-color;
  border: none;
  border-radius: 5px;
  @include effect-shadow;
  @include main-text(18px, 21px, $components-background-color);

  &:hover {
    cursor: pointer;
    background-color: $hover-color;
  }
}

.text-button {
  background: none;
  border: none;
  cursor: pointer;
  @include main-text(14px, 16px, $accent-color);
}