.main-button {
  height: 40px;
  background-color: $accent-color;
  border: none;
  border-radius: 5px;
  @include effect-shadow;
  @include main-text(18px, 21px, $components-background-color);

  &:hover {
    cursor: pointer;
    background-color: $hover-color;
  }

  &:disabled {
    pointer-events: none;
    background-color: $disabled-color;
    display: flex;
    justify-content: center;
  }
}

.text-button {
  background: none;
  border: none;
  cursor: pointer;
  @include main-text(14px, 16px, $accent-color);

  &:disabled {
    pointer-events: none;
  }
}

.lds-squares {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 100%;

  &__square {
    position: absolute;
    top: 18px;
    width: 3px;
    height: 3px;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);

    &:nth-child(1) {
      left: 2px;
      animation: lds-squares1 0.6s infinite;
    }
    
    &:nth-child(2) {
      left: 2px;
      animation: lds-squares2 0.6s infinite;
    }
    
    &:nth-child(3) {
      left: 8px;
      animation: lds-squares2 0.6s infinite;
    }
    
    &:nth-child(4) {
      left: 16px;
      animation: lds-squares3 0.6s infinite;
    }
  }
}

@keyframes lds-squares1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-squares3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-squares2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(8px, 0);
  }
}