@mixin effect-shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
}

@mixin main-text($size, $height, $color) {
  font: {
    family: 'RobotoRegular';
    weight: 400;
    size: $size;
  }
  line-height: $height;
  color: $color;
}

@mixin main-text-bold($size, $height, $color) {
  font: {
    family: 'RobotoBold';
    weight: 700;
    size: $size;
  }
  line-height: $height;
  color: $color;
}

@mixin flex-vh-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-v-center {
  display: flex;
  align-items: center;
}