$container-background-color: #E5E5E5;
$components-background-color: #FFFFFF;
$components-border: 1px solid #E4E4E4;
$components-border-radius: 10px;
$text-color: #424242;
$accent-color: #FF6969;
$hover-color: #FC7676;
$accent-background-text: #FFFFFF;