/*=============================== Common ===============================*/
@import "./common/fonts",
        "./common/variables",
        "./common/mixins";

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: calc(100vh - 60px);
  width: 100%;
  overflow-y: auto;
  background-color: $container-background-color;
  font-family: 'RobotoRegular', Arial, Helvetica, sans-serif;
}

body.modal-open {
  overflow: hidden;
  position: fixed;
}

/*=============================== Components ===========================*/
@import "not-found",
        "nav-bar",
        "main-side-menu",
        "main-catalog",
        "modal",
        "modal-cart",
        "modal-detailed";

@import "./components/App",
        "./components/CatalogPreloader",
        "./components/MainCatalog",
        "./components/MainCatalogItem",
        "./components/MainContainer",
        "./components/MainSideMenu",
        "./components/ModalCartBody",
        "./components/ModalCartBodyEmpty",
        "./components/ModalCartBodyOrdered",
        "./components/ModalContainer",
        "./components/ModalDetailedBody",
        "./components/NavBar",
        "./components/NavBarCart",
        "./components/NavBarLogo",
        "./components/NavBarMenu",
        "./components/ReviewRating",
        "./components/TheContainer",
        "./components/NotFoundPage";