@font-face {
  font-family: 'RobotoRegular';
  src: url('@/assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'RobotoBold';
  src: url('@/assets/fonts/Roboto-Bold.ttf');
}

$container-background-color: #E5E5E5;
$components-background-color: #FFFFFF;
$components-border: 1px solid #E4E4E4;
$components-border-radius: 10px;
$text-color: #424242;
$accent-color: #FF6969;
$accent-background-text: #FFFFFF;

@mixin effect-shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
}


@mixin main-text($size, $height, $color) {
  font-family: 'RobotoRegular';
  font-style: normal;
  font-weight: 400;
  font-size: $size;
  line-height: $height;
  color: $color;
}

@mixin main-text-bold($size, $height, $color) {
  font-family: 'RobotoBold';
  font-style: normal;
  font-size: $size;
  line-height: $height;
  color: $color;
}

@mixin flex-vh-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-v-center {
  display: flex;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'RobotoRegular', Arial, Helvetica, sans-serif;
}

#app {
  min-height: 100vh;
}

.container {
  min-height: 100vh;
  background-color: $container-background-color;
}

.navbar {
  height: 60px;
  background-color: $components-background-color;
  @include effect-shadow;
  display: flex;
  flex-direction: row;
}

.navbar__logo {
  height: 60px;
  flex-basis: 165px;
  background: $accent-color url('@/assets/images/navbar__logo.svg') no-repeat 29px 14px;
}

.logo-link {
  height: 100%;
  width: 100%;
}

.navbar__menu {
  flex-grow: 1;
}

.navbar__menu-list {
  height: 60px;
  padding-left: 24px;
  list-style-type: none;
  @include main-text(18px, 21px, $text-color);
  display: flex;
  flex-direction: row;
}

.navbar__menu-item {
  margin-right: 45px;
  padding-top: 20px;
  &:hover {
    border-bottom: 4px solid $accent-color;
  }
}

.navbar__menu-item_current {
  border-bottom: 4px solid $accent-color;
}

.navbar__menu-link {
  color: $text-color;
  text-decoration: none;
}

.navbar__cart {
  height: 100%;
  flex-basis: 49px;
  @include flex-v-center;
}

.cart__icon {
  height: 21px;
  width: 21px;
  background: url('@/assets/images/navbar__cart-icon.svg') no-repeat;
  cursor: pointer;
}

.cart__bubble {
  height: 18px;
  width: 18px;
  position: relative;
  top: -8px;
  left: 10px;
  background: url('@/assets/images/navbar__ellipse-icon.svg') no-repeat;
  @include flex-vh-center;
  @include main-text(11px, 13px, $accent-background-text);
}

.main-container {
  min-height: 985px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.side-menu {
  min-width: 325px;
  background-color: $components-background-color;
  @include effect-shadow;
}

.side-menu__item {
  height: 34px;
  margin-top: 19px;
  padding-left: 29px;
  border-bottom: $components-border;
  @include main-text(16px, 19px, $text-color)
}

.side-menu__link {
  color: $text-color;
  text-decoration: none;
  &:hover {
    color: $accent-color;
  }
}

.side-menu__link_current {
  color: $accent-color;
}

.main-catalog {
  padding: 54px 0 0 36px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
}

.main-catalog__item {
  height: 418px;
  min-width: 353px;
  max-width: 353px;
  margin: 0 33px 33px 0;
  background-color: $components-background-color;
  border-radius: $components-border-radius;
  @include effect-shadow;
}

.item__image {
  height: 246px;
  width: 100%;
  border-radius: $components-border-radius;
  border: $components-border;
  @include flex-vh-center;
  overflow: hidden;
}

.item__image img {
  max-width: none;
  min-width: auto;
  min-height: auto;
  height: 100%;
}

.item__name {
  height: 44px;
  padding-left: 29px;
  display: flex;
  align-items: flex-end;
  font-weight: 500;
  @include main-text(18px, 21px, $text-color)
}

.item__cost {
  height: 30px;
  padding-left: 29px;
  display: flex;
  align-items: flex-end;
  font-weight: 700;
  @include main-text-bold(18px, 21px, $text-color)
}

.item__cart-button {
  height: 72px;
  padding-left: 29px;
  display: flex;
  align-items: flex-end;
}

.cart-button {
  height: 40px;
  width: 219px;
  background: $accent-color;
  border: none;
  border-radius: 5px;
  @include effect-shadow;
  @include main-text-bold(18px, 21px, $components-background-color);
  &:hover {
    cursor: pointer;
  }
}