@font-face {
  font-family: 'RobotoRegular';
  src: url('@/assets/fonts/Roboto-Regular.ttf');
}

$container-background-color: #E5E5E5;
$components-background-color: #FFFFFF;
$text-color: #424242;
$accent-color: #FF6969;
$accent-background-text: #FFFFFF;

@mixin effect-shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
}

@mixin main-text($size, $height, $color) {
  font-family: 'RobotoRegular';
  font-style: normal;
  font-weight: 400;
  font-size: $size;
  line-height: $height;
  color: $color;
}

@mixin flex-vh-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-v-center {
  display: flex;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'RobotoRegular', Arial, Helvetica, sans-serif;
}

#app {
  min-height: 100vh;
}

.container {
  min-height: 100vh;
  background-color: $container-background-color;
}

.navbar {
  height: 60px;
  background-color: $components-background-color;
  @include effect-shadow;
  display: flex;
  flex-direction: row;
}

.navbar__logo {
  height: 61px;
  flex-basis: 165px;
  background: $accent-color url('@/assets/images/navbar__logo.svg') no-repeat 29px 14px;
}

.logo-link {
  height: 100%;
  width: 100%;
}

.navbar__menu {
  flex-grow: 1;
}

.navbar__menu-list {
  height: 60px;
  padding-left: 24px;
  list-style-type: none;
  @include main-text(18px, 21px, $text-color);
  display: flex;
  flex-direction: row;
}

.navbar__menu-item {
  margin-right: 45px;
  padding-top: 20px;
  &:hover {
    border-bottom: 4px solid $accent-color;
  }
}

.navbar__menu-link {
  color: $text-color;
  text-decoration: none;
}

.navbar__cart {
  height: 100%;
  flex-basis: 56px;
  @include flex-v-center;
}

.cart__icon {
  height: 21px;
  width: 21px;
  background: url('@/assets/images/navbar__cart-icon.svg') no-repeat;
  cursor: pointer;
}

.cart__bubble {
  height: 18px;
  width: 18px;
  position: relative;
  top: -8px;
  left: 10px;
  background: url('@/assets/images/navbar__ellipse-icon.svg') no-repeat;
  @include flex-vh-center;
  @include main-text(11px, 13px, $accent-background-text);
}