.modal-cart-empty__body {
  height: 100%;
  width: 100%;
  @include flex-vh-center;
  background: url('@/assets/images/main-catalog__cart-icon.svg') no-repeat center 30%;
    & h2 {
      @include main-text-bold(24px, 28px, $text-color)
    }
}

.modal-cart__item {
  margin: 10px 0px;
  padding: 10px 0px;
  border-bottom: 1px solid #EEEEEE;
  @include flex-v-center;
  flex-direction: row;
    & .item__image {
      height: 97px;
      width: 138px;
    }
}

.modal-cart__item_last {
  border-bottom: none;
}

.item__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
    & .item__name {
      height: 21px;
    }
}

.item__delete button {
  padding: 10px 0px 0px 29px;
  background: none;
  border: none;
  cursor: pointer;
  @include main-text(14px, 16px, $accent-color);
}

.order-form {
  margin-top: 50px;
  @include main-text(16px, 19px, $text-color);
}

.order-form__input {
  height: 41px;
  width: 100%;
  margin: 10px 0px;
  padding-left: 10px;
  border: 1px solid #898989;
  box-sizing: border-box;
  border-radius: 5px;
  @include main-text(16px, 19px, $text-color);
}

.order-form__input_error {
  border-color: $accent-color;
}

.order-form__error {
  @include main-text(14px, 16px, $accent-color);
}

.order-form__name {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    & div {
      flex-basis: 48%;
    }
}

.order-form__button {
  padding: 20px 0px;
    & button {
    height: 40px;
    width: 219px;
    margin-top: 30px;
    background-color: $accent-color;
    border: none;
    border-radius: 5px;
    @include effect-shadow;
    @include main-text(18px, 21px, $components-background-color);
      &:hover {
        cursor: pointer;
        background-color: $hover-color;
      }
    }
}

.modal-cart-ordered__body {
  height: 100%;
  width: 100%;
  @include flex-vh-center;
  background: url('@/assets/images/modal__ordered.svg') no-repeat center 30%;
    & h2 {
      @include main-text-bold(24px, 28px, $text-color)
    }
}