.navbar__logo {
  height: 60px;
  flex-basis: 165px;
  background: $accent-color url('@/assets/images/navbar__logo.svg') no-repeat 29px 14px;
    &:hover {
      background-color: $hover-color;
    }
}

.logo-link {
  height: 100%;
  width: 100%;
}

.navbar__menu {
  flex-grow: 1;
}

.navbar__menu-list {
  height: 60px;
  padding-left: 24px;
  list-style-type: none;
  @include main-text(18px, 21px, $text-color);
  display: flex;
  flex-direction: row;
}

.navbar__menu-item {
  margin-right: 45px;
  padding-top: 20px;
    &:hover {
      border-bottom: 4px solid $hover-color;
    }
}

.navbar__menu-item_current {
  border-bottom: 4px solid $accent-color;
    &:hover {
      border-bottom-color: $hover-color;
    }
}

.navbar__menu-link {
  color: $text-color;
  text-decoration: none;
}

.navbar__cart {
  height: 100%;
  flex-basis: 49px;
  @include flex-v-center;
}

.cart__icon {
  border: none;
  height: 21px;
  width: 21px;
  background: url('@/assets/images/navbar__cart-icon.svg') no-repeat;
  cursor: pointer;
}

.cart__bubble {
  height: 18px;
  width: 18px;
  position: relative;
  top: -8px;
  left: 10px;
  background: url('@/assets/images/navbar__ellipse-icon.svg') no-repeat;
  @include flex-vh-center;
  @include main-text(11px, 13px, $accent-background-text);
}